//-Header
mj-section(padding="0")
    mj-column
        mj-text S3300 End-of-Life / End-of-Sale Bulletin Contact NETGEAR for your alternative
mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="700px" src="./images/GammeS3300.jpg" alt="")/