mj-section 
    mj-column
        mj-text As alternatives we have our Fully Managed Switches (M4500, M4300 & m4250 series).
        mj-text Need help in finding the correct alternative?
        mj-button contact per mail
        mj-button contact per phone
    mj-column
        mj-image(padding="0" width="350px" src="./images/imageBranchement.jpg" alt="")/