//-prod01
mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="700px" src="./images/CTA.jpg" alt="")/
mj-section
    mj-column
        mj-table
            tr
                td Information product
                td End of life date
                td End of sale date
            tr
                td S3300-52X (GS752TX)
                td May 18th 2021
                td August 31st 2021
            tr
                td S3300-52X-PoE+ (GS752TXP)
                td May 18th 2021
                td August 31st 2021
            tr
                td S3300-28X (GS728TX)
                td November 8th 2021
                td December 31st 2021
            tr
                td S3300-28X-PoE+ (GS728TXP)
                td November 8th 2021
                td December 31st 2021